/* Header Styles */
header {
	scroll-margin-top: 100px;
    /*background: url('./images/SantaCruz.gif') no-repeat center center/cover;*/
	background: url('./images/La_gare_ferroviaire_Oran_2015.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    /*padding: 100px 0; */
	margin-top: 60px; /* Compense la hauteur de la barre de navigation */
	
	
    animation: changeBackground 15s infinite; /* Change d'image toutes les 15 secondes */
}
/* Keyframes pour l'Animation */

@keyframes changeBackground {
    0% {
        background: url('./images/La_gare_ferroviaire_Oran_2015.jpg') no-repeat center center/cover;
    }
    20% {
        background: url('./images/cathédrale.png') no-repeat center center/cover;
    }
    40% {
        background: url('./images/benbadis.jpg') no-repeat center center/cover;
    }
    60% {
        background: url('./images/Marsa.png') no-repeat center center/cover;
    }
    80% {
        background: url('./images/Santacruz.png') no-repeat center center/cover;
    }
    100% {
        background: url('./images/La_gare_ferroviaire_Oran_2015.jpg') no-repeat center center/cover;
    }
}

 /*header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}*/

header p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

header h1 {
	font-family: "Bodoni Moda", serif;
    font-size: 3rem;
    margin-bottom: 20px;
	
    color: white;
	font-style: italic; /* Texte en italique */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #0056b3;
}


.Oran-2025 {
    display: inline-block; /* Limite la largeur au contenu */
    background-color: rgba(0, 0, 0, 0.5); /* Fond blanc avec 50% d'opacité */
    border-radius: 10px; /* Bordures arrondies */
    padding: 5px 20px; /* Espacement interne */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.Oran-2025 h1 {
    margin: 0; /* Supprime les marges par défaut du titre */
    font-size: 2rem; /* Taille du titre */
    color: #ffffff; /* Couleur du texte */
}